RockolaYoutube/Connected Services/WCFRef/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Google.Apis.YouTube.v3.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Google.Apis.YouTube.v3.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSearchResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SearchResult" nillable="true" type="tns:SearchResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSearchResult" nillable="true" type="tns:ArrayOfSearchResult" />
  <xs:complexType name="SearchResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ETag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="tns:ResourceId" />
      <xs:element minOccurs="0" name="Kind" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Snippet" nillable="true" type="tns:SearchResultSnippet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchResult" nillable="true" type="tns:SearchResult" />
  <xs:complexType name="ResourceId">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChannelId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ETag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kind" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlaylistId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VideoId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResourceId" nillable="true" type="tns:ResourceId" />
  <xs:complexType name="SearchResultSnippet">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChannelId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChannelTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ETag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LiveBroadcastContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PublishedAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PublishedAtRaw" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Thumbnails" nillable="true" type="tns:ThumbnailDetails" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchResultSnippet" nillable="true" type="tns:SearchResultSnippet" />
  <xs:complexType name="ThumbnailDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Default__" nillable="true" type="tns:Thumbnail" />
      <xs:element minOccurs="0" name="ETag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="High" nillable="true" type="tns:Thumbnail" />
      <xs:element minOccurs="0" name="Maxres" nillable="true" type="tns:Thumbnail" />
      <xs:element minOccurs="0" name="Medium" nillable="true" type="tns:Thumbnail" />
      <xs:element minOccurs="0" name="Standard" nillable="true" type="tns:Thumbnail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ThumbnailDetails" nillable="true" type="tns:ThumbnailDetails" />
  <xs:complexType name="Thumbnail">
    <xs:sequence>
      <xs:element minOccurs="0" name="ETag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Height" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Width" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Thumbnail" nillable="true" type="tns:Thumbnail" />
</xs:schema>